.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -90px 1px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 176px;
  margin: 79px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-search-1 {
  min-height: 38px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-search-icon-1 {
  height: 16px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 33px 14px 0 auto;
  padding: 10px 32px 10px 31px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -45px auto 0 14px;
  padding: 10px 39px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -103px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-search-1 {
    height: auto;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }
}

.terminal_div {
	overflow: auto;
	height: 180px;
}